.pagePappers {
	width: 100%;
	// padding: 1.5cm;
	padding: 0;
	margin: 0;
	font-family: "Times New Roman", Times, serif;

	.container-gridCard {
		width: 100%;

		.grid-card {
			display: flex;
			justify-content: space-between;
			width: 100%;
			flex-wrap: wrap;

			.item {
				flex: 50%;
				height: 9.5cm;
				padding: 5px;

				.item-content {}
			}
		}
	}

}
